@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(20, 20, 20);
  line-height: 1.6;
  background-color: #1d1d1d;
  text-align: center;
  margin: 0;
}

.intro{
  color: #0d8f8f;

}

/* carousel */
.slidershow {
  width: 700px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 50px;
  padding-bottom: 20px;
  border-radius: 25px;
}

.slider-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.navigation {
  position: relative;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #fff;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}
#getStarted{
  border: 2px solid #0d8f8f;
  color: #0d8f8f;
  border-radius: 10px !important;

}

#getStarted:hover {
  background-color: #0d8f8f !important;
  color: black !important;
  font-weight: 800 !important;

}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: auto;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}



/* navbar */
.navbar-parent{
  background-color: #ffffff00;
  width: 100%;
  height: 150px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: 0.4s;
  z-index: 99;
}
.navbar.sticky {
  padding: 10px 0;
  background: #0d8f8f;
}
.nav-mxw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  margin: auto;
  width: 100%;
}
.logo {
  font-size: 50px;
  color: #0d8f8f;
  font-family: 'Kaushan Script', cursive;
  transition: 0.4s;
}

.navbar.sticky .logo {
  color: #ffffff;
}
.menu li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
}
.menu li a {
  color: #0d8f8f;
  transition: 0.5s;
  display: block;
  font-family: 'Architects Daughter', cursive;
  font-size: 35px;
}

.menu li a:hover {
  transform: scale(1.1);
}


.navbar.sticky .menu li a:hover {
  color: #ffffff;
}

.navbar.sticky .menu li a{
  color: #ffffff;
}
.navbar.sticky .menu li span {
  color: #ffffff;
}
/* menu button for responsiveness*/
.menu-button {
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  display: none;
}

@media (max-width: 950px) {

  .slidershow {
    width: 87vw;
    height: 60vw;
    overflow: hidden;
  }

  .nav-mxw {
    padding: 0 20px;
  }
  .content-home {
    top: 30%;
  }
  .menu-button {
    display: block;
    z-index: 99;
  }
  .navbar.sticky .menu li a:hover {
    color: #0d8f8f;
  }

  .menu li a {
    color: #ffffff;
  }

  .menu-button i.active::before {
    content: "\f00d";
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    background: #1d1d1d;
    text-align: center;
    padding-top: 75px;
    transition: 1s;
  }
  .menu.active {
    right: 0;
  }
  .menu li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
  }
  .menu li a {
    display: inline-block;
    margin: 4vh 0;
    font-size: 35px;
  }


}


.searchbox {
  margin: auto;
  margin-top: 5%;
  position: relative;
  height: 42px;
  width: 300px;
  border: 4px solid #2980b9;
  padding: 0px 10px;
  border-radius: 50px;
  background-color: white;
}
.searchbox_items {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 10px;
  font-family: sans-serif;
  color: #424242;
  font-weight: 500;
}
.searchbox:focus {
  outline: none;
}

.searchbox input:focus {
  outline: none;
}

.material-icons {
  font-size: 26;
  color: #2980b9;
}

.flextables {
  display: flex;
  justify-content: space-around;
}

footer {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  background: black;
  height: 200px;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: white;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 0;
  line-height: 28px;
  font-size: 18px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: white;
}
.socials a i {
  font-size: 2rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #0d8f8f;
}
#footer-parent{
  position: relative;
}


.footer-bottom {
  /* margin: -5.25px; */
  background: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: 800;
}
